body {
    background-color:lightblue;
    text-align: center;
}

h1 {
    color: rgb(31, 44, 85);
}

.friend {
    background-color: green;
    border-radius:2em;
}

h3 {
    text-transform: uppercase;
    padding-top: .5em;
    color: rgb(31, 44, 85);
}

p:last-child {
    padding-bottom: .5em;
}

p {
    color: rgb(31, 44, 85);
    margin:1em;
}

button {
    padding-left: 4em;
    padding-right:4em;
    padding-top: 1.2em;
    padding-bottom:1.2em;
    border-radius:2em;
    background-color:green;
    border:solid black 2px;
}
button:hover {
    background-color:rgb(217, 219, 79);
    cursor: pointer;
}